.icon-fab {
    font-size: 400%;
    color: #0aa31f;
}

.justify {
    text-align: justify;
}

#skill:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
    color: #6f42c1
}

section.resume-section-portfolio {
    display: block;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
    max-width: 75rem;
}

section.resume-section .resume-section-content-portfolio {
    width: 100%;
}

.card-header,
.card-footer {
    background-color: #f7eef6;
}

.card-title-text {
    color: #231d23;
}
